/* @import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"; */

:root {
    --color-green: black;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /* background: #282a36; */
    background-color: white;
    font-family: "Arial", "Helvetica", sans-serif;
    color: black;
}

.menu li {
    list-style: none;
}

.links {
    padding: 26px;
    /* border-bottom: 1px solid #333; */
    background: rgba(0, 0, 0, 0.1)
}

.links {
    text-align: center;

}

.links a {
    color: black;
    font-size: 16px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links img {
    margin-right: 0px;
    vertical-align: middle;
    height: 26px;
}

/* .links a:hover {
    /* color: var(--color-green); */
    /* transition: color 200ms; 
} */

a:hover {
    text-decoration: underline;
}

#wrapper {
    text-align: justify;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    /* border-radius: 30px 30px 30px 30px; */
    border: 3px solid #bbbbbb;
    margin-bottom: 32px;
    height: 300px;
}

/* #wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
} */
/* 
#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    /* margin-top: 8px; */
    /* opacity: 0.8;
} */

#wrapper p {
    /* max-width: 500px; */
    margin: 32px 0px;
    font-size: 16px;
    line-height: 0px;
    
}

/* #wrapper p a {
    color: var(--color-green);
} */

/*=== FOOTER ===*/

/* #links-footer a {
    border-bottom: 1px solid var(--color-green);
} */

#copyright {
    font-size: smaller;
    text-align: center;
    margin: 16px 0px;
}

/*=== CARDS ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background-color: #7159c1;
}

.card__image-container img {
    width: 100%;
}

